.cmti {
    display: inline-block;
    font-family: "cmti-core";
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;    
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 0;
    text-rendering: auto;
    font-size: 1.5em;

    &.cmti-2x {
        font-size: 2em;
    }

    &.cmti-3x {
        font-size: 3em;
    }

    &.cmti-4x {
        font-size: 4em;
    }

    &.cmti-5x {
        font-size: 5em;
    }

    &.cmti-action {
      cursor: pointer;
    }
}

/* makes the font 33% larger relative to the cmti container */
.cmti-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.cmti-fw {
    width: 1.28571429em;
    text-align: center;
}

.cmti-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.cmti-ul > li {
    position: relative;
}

.cmti-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}

.cmti-li.cmti-lg {
    left: -1.85714286em;
}

.cmti-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}

.cmti-pull-left {
    float: left;
}

.cmti-pull-right {
    float: right;
}

.cmti.cmti-pull-left {
    margin-right: .3em;
}

.cmti.cmti-pull-right {
    margin-left: .3em;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.cmti.pull-left {
    margin-right: .3em;
}

.cmti.pull-right {
    margin-left: .3em;
}

.cmti-spin {
    -webkit-animation: cmti-spin 2s infinite linear;
    animation: cmti-spin 2s infinite linear;
}

.cmti-pulse-8 {
    -webkit-animation: cmti-spin 1s infinite steps(8);
    animation: cmti-spin 1s infinite steps(8);
}

.cmti-pulse-4 {
    -webkit-animation: cmti-spin 2s infinite steps(4);
    animation: cmti-spin 2s infinite steps(4);
}

@-webkit-keyframes cmti-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
}

@keyframes cmti-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
}

.cmti-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cmti-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cmti-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.cmti-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.cmti-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

:root .cmti-rotate-90, :root .cmti-rotate-180, :root .cmti-rotate-270, :root .cmti-flip-horizontal, :root .cmti-flip-vertical {
    filter: none;
}

.cmti-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.cmti-stack-1x, .cmti-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.cmti-stack-1x {
    line-height: inherit;
}

.cmti-stack-2x {
    font-size: 2em;
}
 
.cmti-inverse {
    color: #ffffff;
}